.inventory {
  margin-top: 20px;
  width: 100%;
  background-color: #a90b0b;
  height: 530px;
  border-radius: 4px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  grid-area: 1 / 1 / 4 / 2;
  .chess-board-card-container:nth-child(4n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 450px) {
  .inventory {
    height: 480px;
    padding: 10px 0px;
  }
}
@media screen and (max-width: 370px) {
  .inventory {
    height: 450px;
  }
}
